<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="blog-sidebar">
	<div class="sidebar-item deepstream-learn-more">
		<div class="deepstreamhub-logo">
		<img alt="deepstreamhub-logo" src="/src/assets/img/deepstreamhub-logo.ai">
		</div>
		<h3>Want to get started more quickly?</h3>
		Try hosted deepstream for free with deepstreamHub:
		<div class="sign-up-buttons">
		<a class="sign-up-btn" href="https://dashboard.deepstreamhub.com/signup/">Sign Up for free</a>
		or Signup with...
		<a href="https://api.deepstreamhub.com/api/v1/auth/google" class="auth-signup-btn"><i class="fa fa-google"></i>Google</a>
        <a href="https://api.deepstreamhub.com/api/v1/auth/github" class="auth-signup-btn"><i class="fa fa-github"></i>Github</a>
		</div>                
            <div class="deepstream-star start">
			<div class="tip"></div>
			<div class="icon ion-social-github"></div>
			Like deepstream.io? Star it on <a href="https://github.com/deepstreamIO/deepstream.io">Github</a>!
		</div>
	</div>
</span>


<style type="text/css">
.sign-up-btn {
	display: inline-block;
	border: 1px solid rgba( 255, 255, 255, 0.8 );
	background: #0EA9D5;
	color: white;
	padding: 7px 56px;
	border-radius: 3px;
	margin: 13px 0 13px 0;
	cursor: pointer;
	transition: all 400ms ease;
}

.auth-signup-btn {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    width: 49%;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 13px 0 13px 0;
}

.auth-signup-btn:hover {
	background-image:none;
	background-color: #0EA9D5;
	color: white;
	cursor: pointer;
	transition: all 400ms ease;
}

.auth-signup-btn:hover i{
	color: white;
	transition: all 400ms ease;
}

.fa.fa-google, .fa.fa-github { 
	position: absolute;
    font-size: 17px;
    left: 10px;
    top: 10px;
    margin: 0 50px 0 0;
}


</style>


                            