<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="blog-sidebar">
	<div class="sidebar-item deepstream-learn-more">
		<div class="logo-container">
			<img class="deepstreamhub-logo" src="/assets/img/deepstreamhub-logo-small.png" />
		</div>
		<h3>Want to get started more quickly?</h3>
		Try hosted deepstream for free with deepstreamHub:
		<div class="sign-up-buttons">
		<a class="sign-up-btn" href="https://dashboard.deepstreamhub.com/signup/">Sign Up for free</a>
		or Signup with...
		<a href="https://api.deepstreamhub.com/api/v1/auth/google" class="auth-signup-btn"><i class="fa fa-google"></i>Google</a>
        <a href="https://api.deepstreamhub.com/api/v1/auth/github" class="auth-signup-btn"><i class="fa fa-github"></i>Github</a>
		</div>                
            <div class="deepstream-star start">
			<div class="tip"></div>
			<div class="icon ion-social-github"></div>
			Like deepstream.io? Star it on <a href="https://github.com/deepstreamIO/deepstream.io">Github</a>!
		</div>
	</div>
</span>



                            